.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 100px auto;
  padding: 0 40px;
}

.about__title {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.about__body {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.about__purple {
  background-image: url('/assets/img/purple.gif');
  background-size: cover;
  height: 100px;
  margin: 30px 0;
  width: 150px;
}

.about__buttons {
  display: flex;
  margin: 30px auto;
}

.about__buttons a {
  background-color: $green;
  border: 2px solid $black;
  color: $black;
  font-size: 16px;
  margin: 8px;
  padding: 16px 24px;
  text-transform: uppercase;
  transition: all $speed $ease;
}

.about__buttons a:hover,
.about__buttons a:focus {
  background-color: $black;
  color: $white;
}

.about__website {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: underline;
}