.item__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px 16px 16px;
  transition: opacity $speed $ease;
}

.item {
  height: calc((100vw - 275px) / 4 - 24px);
  margin-top: 16px;
  transition: opacity $speed $ease;
  width: calc(25% - 24px);

  @media screen and (max-width: 1400px) {
    height: calc((100vw - 275px) / 3 - 24px);
    width: calc(33.33% - 24px);
  }

  @media screen and (max-width: 800px) {
    height: calc(50vw - 24px);
    width: calc(50% - 24px);
  }
}

.item--no-h {
  height: auto !important;
}

.item img {
  -webkit-filter: blur(35px); /* Safari */
  filter: blur(35px);
  opacity: 0;
  transition: all $speed $ease;
  max-width: 450px;
}

.item img.loaded {
  opacity: 1;
  filter: none;
}

.items .item:not(.item--no-h):hover img {
  transform: scale(1.1);
}

.outfit-page .item:hover,
.item--no-h:hover {
  opacity: 0.75;
}

.item__grid.hidden,
.item.hidden {
  opacity: 0;
}
