.item__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px 16px 16px;
  transition: opacity $speed ease-in-out;
}

.item {
  margin-top: 16px;
  width: calc(25% - 24px);

  @media screen and (max-width: 800px) {
    width: calc(50% - 24px);
  }
}

.item img {
  transition: transform $speed ease-in-out;
}

.item:hover img {
  transform: scale(1.1);
}

.item__grid.hidden,
.item.hidden {
  opacity: 0;
}
