#subpage-wrapper {
  background-color: $white;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: transform #{$speed * 2} cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
  width: 100vw;
  z-index: 11;
}

.subpage {
  height: 100%;
  overflow: scroll;
  padding-right: 20px;
  padding-bottom: 75px;
  position: relative;
  width:calc(100vw + 20px);
}

#subpage-wrapper.is-hidden {
  transform: translateX(100vw);
}

.subpage__close {
  background-color: transparent;
  position: absolute;
  right: 10px;
  padding: 0;
  top: 10px;
  z-index: 1;
}

.subpage__close svg {
  height: 40px;
  width: 40px;
}

.subpage__close:hover {
  color: $green;
}

//----------------------------------------
// page content
//----------------------------------------
.subpage__content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 65px 24px;
  width: 100%;

  @media screen and (max-width: 800px) {
    padding: 36px 24px 75px;
  }
}

.subpage__image {
  height: auto;
  position: relative;
  width: 50%;

  @media screen and (max-width: 800px) {
    order: 0;
    width: calc(100vw - 48px);
  }
}

.subpage__image--zm {
  margin: 0 auto;
  padding-left: 24px;

  @media screen and (max-width: 800px) {
    order: 0;
    padding: 0;
    width: 100%;
  }
}

.subpage__label {
  background-color: $black;
  color: $green;
  font-size: 24px;
  left: 50%;
  padding: 12px;
  position: absolute;
  text-transform: uppercase;
  transform: rotateZ(-35deg) translate(-50%, -50%);
  top: 30%;

  @media screen and (max-width: 800px) {
    font-size: 14px;
  }
}

.subpage__info {
  font-style: normal;
  font-weight: 400;
  width: 50%;

  @media screen and (max-width: 800px) {
    order: 1;
    width: 100%;
  }
}

.subpage__title {
  border-bottom: 1px solid $black;
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 16px;
  padding-bottom: 8px;
  text-transform: capitalize;
}

.subpage__swatches {
  display: flex;

  @media screen and (max-width: 800px) {
    margin: 24px 0;
  }
}

.subpage__swatch {
  flex: 1 1 auto;
  height: 16px;
}

.subpage__swatch + .subpage__swatch {
  margin-left: 4px;
}

.subpage__grid {
  display: flex;
  flex-wrap: wrap;
  order: 3;
  width: 100%;
}

.subpage__secondary-image {
  width: calc(33% - 20px);

  @media screen and (max-width: 800px) {
    width: calc(50% - 20px);
  }
}