.item__grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: $header;
}

.item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1 1 25%;
  height: 25vw;
}