//-------------------------------------------
//
// Main SCSS file
//
//-------------------------------------------

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

a {
    color: currentColor;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
}

body.is-fixed {
  overflow: hidden;
}

@import 'things/vars';
@import 'things/headers';

@import 'pages/items';
@import 'pages/subpage';