//-------------------------------------------
//
// Main SCSS file
//
//-------------------------------------------
@import 'things/_vars';

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

a {
    color: currentColor;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color 0.3s $ease;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
}

body.is-fixed {
  overflow: hidden;
  
  // .item__grid {
  //   pointer-events: none;
  // }
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  transition: all $speed $ease;
}

.text {
  p + p {
    margin-top: 8px;
  }
}

img {
  width: 100%;
}

.no-click {
  pointer-events: none;
}

.site-main {
  height: 100vh;
}

.about-page .site-main {
  height: auto !important;
}

.main {
  display: flex;
  height: 100%;
  width: 100vw;
}

.content {
  height: 100%;
  overflow: scroll;
  width: 100%;
}


@import 'things/_headers';

@import 'things/_loaders';

@import 'pages/_items';

@import 'pages/_subpage';

@import 'pages/_about';