<nav>
  <div class="nav-mobile">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="nav__types outfits">
    {% include types.svg %}
    <a href="/" class="nav__types-item">Items</a>
    <a href="/outfits" class="nav__types-item selected">Outfits</a>
  </div>

  <div class="nav__time">
    <p class="nav__time-label">
      2019
    </p>
    <div class="nav__timeline">
      {% for year in site.years %}
        {% unless forloop.last %}
          <div class="nav__time-year select-year" data-year="{{year}}">
            <p>{{site.years[forloop.index]}}</p>
            <p>{{year}}</p>
          </div>
        {% endunless %}
      {% endfor %}
    </div>
    <p class="nav__time-label">
      2009
    </p>
  </div>
  <div class="nav__time-all select-year is-active" data-year="*">Show All</div>
</nav>