<nav>
  <div class="nav-mobile">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="nav__links">
    <a class="nav__about" href="/about">i</a>
    <div class="nav__types outfits">
      {% include types.svg %}
      <a href="/" class="nav__types-item">Items</a>
      <a href="/outfits" class="nav__types-item selected">Outfits</a>
    </div>
  </div>

  <div class="nav__time">
    <div class="nav__categories">
      {% for year in site.years %}
        <div class="nav__category select-year" data-year="{{year}}">
          {{year}}
        </div>
      {% endfor %}
      <div class="nav__category" data-type="*">Show All</div>
    </div>
  </div>
</nav>