//-------------------------------------------
//
// Headers
//
//-------------------------------------------
.header {
  border-bottom: 1px solid$black;
  border-top: 1px solid $black;
  display: flex;
  height: $header;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__item {
  flex: 1 1 33%;
  height: 100%;
  text-align: center;
}

.header__item--category {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  position: relative;
  text-transform: uppercase;

  .header__category {
    color: $black;
  }
  .header__category + .header__category {
    color: $green;
  }
}

.header__item--category svg {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.header__item--category.outfits {
  .header__category {
    color: $green;
  }
  .header__category + .header__category {
    color: $black;
  }
}

.header__item--color {
  background: -moz-linear-gradient(left, #ff3232 0%,#ff6e00 12.5%,#faff00 25%,#26d31d 37.5%,#0026ff 50%,#8700ff 62.5%,#f600ff 75%, #FFFFFF 87.5%,#0D0D0D 100%);
  background: -webkit-linear-gradient(left, #ff3232 0%,#ff6e00 12.5%,#faff00 25%,#26d31d 37.5%,#0026ff 50%,#8700ff 62.5%,#f600ff 75%, #FFFFFF 87.5%,#0D0D0D 100%);
  background: linear-gradient(to right, #ff3232 0%,#ff6e00 12.5%,#faff00 25%,#26d31d 37.5%,#0026ff 50%,#8700ff 62.5%,#f600ff 75%, #FFFFFF 87.5%,#0D0D0D 100%);
  border-left: 1px solid $black;
  border-right: 1px solid $black;
  display: flex;
}

.header__color-block {
  flex: 2 1 auto;
  height: 100%;
  position: relative;
}

.header__color-block--sm {
  flex: 1 1 auto;
}

.header__item--type {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $white;
  position: relative;
  text-transform: uppercase;
}

.header__type-dropdown {
  background-color: $white;
  border-top: 1px solid $black;
  display: flex;
  flex-wrap: wrap;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: height $speed ease-in-out;
  width: 100%;
}

.header__item--type:hover .header__type-dropdown  {
  height: 232px;
}

.header__type {
  border: solid $black;
  border-width: 0 1px 1px 0;
  flex: 1 1 50%;
  padding: 12px;
}