//-------------------------------------------
//
// Headers
//
//-------------------------------------------
nav {
  background-color: $white;
  border: 2px solid $black;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: $nav;
  width: 100%;
  z-index: 10;

  @media screen and (max-width: 800px) {
    left: -275px;
    position: fixed;
    transition: left $speed $ease;
  }
}

nav.is-active {
  left: 0;
}

.nav-mobile {
  display: none;
  @media screen and (max-width: 800px) {
    align-items: center;
    background-color: $green;
    border: 2px solid $black;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 65px;
    justify-content: center;
    position: fixed;
    right: 8px;
    top:8px;
    width: 65px;
    z-index: 10;
  }
}

.nav-mobile.is-open {
  >:first-child {
    transform: rotateZ(45deg);
  }

  >:nth-child(2) {
    display: none;
  }

  >:last-child {
    transform: rotateZ(-45deg);
  }
}

.nav-mobile > * {
  background-color: $black;
  height: 2px;
  pointer-events: none;
  position: absolute;
  transform: translateY(50%);
  transition: transform $speed $ease;
  width: 30px;
}

.nav-mobile > *:first-child {
  transform: translateY(-6px);
}

.nav-mobile > *:last-child {
  transform: translateY(8px);
}

.nav__types {
  background-color: $black;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  height: 175px;
  justify-content: space-around;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.nav__types-item {
  z-index: 1;
}

.nav__types-item.selected {
  color: $green;
}

.nav__types svg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.outfits .nav__types svg {
  transform: rotateZ(180deg);
}

.nav__colors {
  align-items: center;
  border-bottom: 2px solid $black;
  border-top: 2px solid $black;
  display: flex;
  flex-wrap: wrap;
  height: 230px;
  justify-content: space-around;
  padding: 16px 0;
}

.nav__color {
  background-size: cover;
  background-position: center;
  border: 2px solid $black;
  border-radius: 100%;
  cursor: pointer;
  height: 55px;
  transition: $speed $ease;
  width: 55px;
}

.nav__color:hover {
  transform: scale(1.1);
}

.nav__color--all {
  align-items: center;
  border: none;
  display: flex;
  justify-content: center;
}

.nav__color--all svg {
  pointer-events: none;
}

.nav__categories {
  display: flex;
  flex: 1 1 40%;
  flex-wrap: wrap;
}

.nav__category {
  align-items: center;
  border-bottom: 2px solid $black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  transition: all $speed $ease;
  width: 50%;
}

.nav__category:hover {
  background-color: $green;
  color: $black;
}

.nav__category:nth-child(even) {
  border-left: 2px solid $black;
}

.nav__category:last-child {
  border: none;
  width: 100%;
}

.nav__time {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.nav__time-label {
  font-size: 24px;
  margin: 8px 0;
  text-align: center;
  text-transform: uppercase;
}

.nav__time-year {
  align-items: center;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  cursor: pointer;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  margin-top: -2px;
  position: relative;
  transition: background-color $speed $ease;
}

.nav__time-year > * {
  margin: 0;
  padding: 8px 16px;
  pointer-events: none;
  transition: all $speed $ease;
}

.nav__time-year:hover,
.nav__time-year.is-active {
  background-color: $green;
  border-color: $black;
}

.nav__time-year:hover > *,
.nav__time-year.is-active > * {
  opacity: 1;
}

.nav__time-year::before {
  background-color: $black;
  content: '';
  height: 2px;
  position: absolute;
  top: -2px;
  width: 20px;
}

.nav__time-year:last-child::after {
  background-color: $black;
  content: '';
  height: 2px;
  position: absolute;
  bottom: -2px;
  width: 20px;
}

.nav__time-all {
  border-top: 2px solid $black;
  cursor: pointer;
  padding: 8px;
  text-align: center;
  transition: background-color $speed $ease;
}

.nav__time-all.is-active {
  background-color: $green;
}

.nav__timeline {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.nav__timeline::after {
  background-color: $black;
  content: '';
  height: 100%;
  margin-left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 2px;
}