//-------------------------------------------
//
// Headers
//
//-------------------------------------------
.header {
  border-bottom: 1px solid$black;
  border-top: 1px solid $black;
  display: flex;
  height: $header;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__item {
  flex: 1 1 33%;
  height: 100%;
  text-align: center;
}

.header__item--category {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  position: relative;
  text-transform: uppercase;

  .header__category {
    color: $black;
  }
  .header__category + .header__category {
    color: $green;
  }
}

.header__item--category svg {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.header__item--category.outfits {
  .header__category {
    color: $green;
  }
  .header__category + .header__category {
    color: $black;
  }
}

.header__item--color {
  background: -moz-linear-gradient(left, #ff3232 0%,#ff6e00 12.5%,#faff00 25%,#26d31d 37.5%,#0026ff 50%,#8700ff 62.5%,#f600ff 75%, #FFFFFF 87.5%,#0D0D0D 100%);
  background: -webkit-linear-gradient(left, #ff3232 0%,#ff6e00 12.5%,#faff00 25%,#26d31d 37.5%,#0026ff 50%,#8700ff 62.5%,#f600ff 75%, #FFFFFF 87.5%,#0D0D0D 100%);
  background: linear-gradient(to right, #ff3232 0%,#ff6e00 12.5%,#faff00 25%,#26d31d 37.5%,#0026ff 50%,#8700ff 62.5%,#f600ff 75%, #FFFFFF 87.5%,#0D0D0D 100%);
  border-left: 1px solid $black;
  border-right: 1px solid $black;
  display: flex;
}

.header__color-block {
  flex: 2 1 auto;
  height: 100%;
  position: relative;
}

.header__color-block--sm {
  flex: 1 1 auto;
}

// .header__color-block.is-active:after {
//   background-color: $black;
//   content: '';
//   height: 100%;
//   left: 50%;
//   position: absolute;
//   transform: translate(-50%);
//   top: 0;
//   width: 1px;
// }

.header__item--type {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $white;
  text-transform: uppercase;
}