.loader__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.loader {
  animation: color 6s linear infinite, size 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  background-size: cover;
  border-radius: 10px;
}

@keyframes size {
    0% {
      height: 60px;
      transform: rotate(0deg);
      width: 10px;
    }

    50% {
      width: 60px;
    }

    100% {
      height: 60px;
      transform: rotate(360deg);
      width: 10px;
    }

}

@keyframes color {
    0% {
      background-color: #FF3E3A;
    }

    14% {
      background-color: #FF8707;
    }

    28% {
      background-color: #FFEE04;
    }

    42% {
      background-color: #00B736;
    }

    56% {
      background-color: #1765FF;
    }

    70% {
      background-color: #9A4AEB;
    }

    85% {
      background-color: #FF73B8;
    }

    100% {
      background-color: #FF3E3A;
    }
}