---
layout: default
body_class: about-page
---

<section class="about">
  <h1 class="about__title">About</h1>
  <div class="about__purple"></div>
  <div class="about__body">
    <p>This is my closet, online. It's an archive, primarily for me, but if you enjoy it - that's great too.</p>
    <p>I'm a developer & designer living in brooklyn.</p>
  </div>
  <div class="about__buttons">
    <a href="/outfits">Outfits</a>
    <a href="/items">Items</a>
  </div>
  <a class="about__website" href="https://vitanewstetter.com">vitanewstetter.com</a>
</section>