---
layout: default
---
<section class="section">
  <div class="header">
    <div class="header__item">shirt</div>
    <div class="header__item header__item--color"></div>
    <div class="header__item header__item--category {% if page.id == 'outfits' %}outfits{% endif %}">
      {% include types.svg %}
      <a href="/outfits" class="header__category">Outfits</a>
      <a href="/" class="header__category">Items</a>
    </div>
  </h2>
</section>
<div id="subpage">{{content}}</div>
<section>
  <div class="item__grid">
  {% if page.id == 'outfits' %}
    {% assign data = site.data.closet.outfit %}
    {% assign path = 'looks' %}
  {% else %}
    {% assign data = site.data.closet.item %}
    {% assign path = 'items' %}
  {% endif %}

  {% for item in data %}
    <a class="item"
      data-name="{{item.name}}"
      href="/{{path}}/{{item.name|slugify}}"
      style="background-image: url({{item.image.url}})">
    </a>
  {% endfor %}
  </div>
</section>
