---
layout: default
---
{% if page.id == 'outfits' or page.type == 'outfit' %}
  {% assign data = site.data.closet.outfit %}
  {% assign path = 'looks' %}
  {% assign menu = 'outfit-filter' %}
{% else %}
  {% assign data = site.data.closet.item %}
  {% assign path = 'items' %}
  {% assign menu = 'item-filter' %}
{% endif %}

{% assign types = 'shirt, sweater, skirt, pants, dress, jumpsuit, outerwear, shoes' | split: ', ' %}
{% assign colors = 'red, orange, yellow, green, blue, purple, pink' | split: ', '%}
<section class="main">
  {% if page.id == 'items' %}
    {% include item-filter.html %}
  {% else %}
    {% include outfit-filter.html %}
  {% endif %}
  <div class="content">
    <div class="item__grid hidden"></div>
  </div>
</section>
<div id="subpage-wrapper" class="{%if page.id == 'outfits' or page.id == 'items' %}is-hidden{% endif %}">
  {{content}}
</div>
<script id="bootstrap-items">
  {{ data|jsonify }}
</script>
