---
layout: home
body_class: is-fixed
type: item
---
<button class="subpage__close">
  {% include x.svg %}
</button>
<section class="subpage">
  <div class="subpage__content">
    <div class="subpage__info">
      <p class="subpage__title">{{page.title}}</p>
      <div class="subpage__swatches">
        {% for hex in page.color %}
        <div class="subpage__swatch" style="background-color: {{hex}}"></div>
        {% endfor %}
      </div>
      <p>Type: {{page.category}}</p>
      {%if page.brand %}<p>made by {{page.brand}}</p>{% endif %}
      <p>Purchased for {{page.price_range}}</p>
      <div class="text">{{page.notes|markdownify}}</div>
    </div>
    <img src="{{page.image.url}}?w=800&h=800&fit=pad" class="subpage__image"/>
    <div class="subpage__grid">
    {% for outfit in page.outfits %}
      {% assign slug = outfit.name | replace: "'", "" | slugify  %}
        <a
          href="/outfits/{{slug}}"
          class="subpage__secondary-image item"
          data-name="{{outfit.name}}">
          <img src="{{outfit.image.url}}?w=800&h=800&fit=pad" class="no-click"/>
        </a>
    {% endfor %}
    </div>
  </div>
</section>