---
layout: home
body_class: is-fixed
type: item
---
<button class="subpage__close">
  {% include x.svg %}
</button>
<section class="subpage">
  <div class="subpage__content">
    <div class="subpage__info">
      <p class="subpage__title">{{page.title}}</p>
      <div class="subpage__swatches">
        {% for hex in page.color %}
        <div class="subpage__swatch" style="background-color: {{hex}}"></div>
        {% endfor %}
      </div>
      <p>Type: {{page.category}}</p>
      {%if page.brand %}<p>made by {{page.brand}}</p>{% endif %}
      <p>Purchased for {{page.price_range}}</p>
      <div class="text">{{page.notes|markdownify}}</div>
    </div>
    <div class="subpage__image">
      <img
        src="{{page.image.url}}?w=10&h=10&fit=pad"
        data-srcset="{{page.image.url}}?w=400&h=400&fit=pad 400w, {{page.image.url}}?w=800&h=800&fit=pad 800w" 
        data-sizes="100w"
        class="lazy load-first"/>
      {% if page.label %}
      <div class="subpage__label">{{page.label}}</div>
      {% endif %}
    </div>
    
    <div class="subpage__grid">
    {% for outfit in page.outfits %}
      {% assign slug = outfit.name | replace: "'", "" | slugify  %}
        <a
          href="/outfits/{{slug}}"
          class="subpage__secondary-image item item--no-h"
          data-name="{{outfit.name}}">
          <img
            src="{{outfit.image.url}}?w=10"
            data-srcset="{{outfit.image.url}}?w=400 400w, {{outfit.image.url}}?w=800 800w" 
            data-sizes="100w"
            class="no-click load-first lazy"/>
        </a>
    {% endfor %}
    </div>
  </div>
</section>